
<!--
<div [ngSwitch]="Option">
  <ion-list *ngSwitchCase="'Client'">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
   
   <div *ngFor="let name of names,let i = index">
     <ion-item>
      <ion-thumbnail item-start>
          <img src="../assets/imgs/Profile2.png">
        </ion-thumbnail>
      <a ion-item >
      {{name}}
      </a>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end (click)="openModal({charNum: i })">View</button>
    </ion-item>
    </div>
  </ion-list>

  <ion-list *ngSwitchCase="'kittens'">
    <ion-item>
      <ion-slides class="image" style="width:100%; height:200px" >
        <ion-slide *ngFor="let img of images">
          <div class="inner">
            <ion-avatar item-start>
              <img src="../assets/imgs/{{img}}">
            </ion-avatar>
            <h2>Cher</h2>
            <p>Ugh. As if.</p>
          </div>
      </ion-slide>
      </ion-slides>
  </ion-item>
  </ion-list>
</div>
<ion-fab right bottom>
    <button ion-fab mini><ion-icon name="apps"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="ModalAddCustomer()"><ion-icon name="add"></ion-icon></button>
     </ion-fab-list>
</ion-fab>
-->
<ion-content>
<ion-card>
    
      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/img/img.png">
        </ion-avatar>
        <h2>Marty McFly</h2>
        <p>November 5, 1955</p>
      </ion-item>
    
      <img src="../assets/img/img.png">
    
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
      
    </ion-card>
 
  </ion-content>