<ion-header>
    <ion-toolbar color="dark">
         
         
            <ion-navbar>
                <button ion-button menuToggle (click)="openToggle()"  >
                    <ion-icon name="menu"></ion-icon>
                 </button>
              <ion-buttons end>
                <button ion-button icon-only>
                  <ion-icon name="refresh"></ion-icon>
                </button>     
                <button ion-button icon-only (click)="presentPopover($event)" >
                  <ion-icon name="more" ></ion-icon>
                </button>
              </ion-buttons>
            </ion-navbar>
           
      </ion-toolbar>  
     </ion-header>

    <ion-content class="card-background-page">
      <ion-card *ngFor="let stockage of stockageList">
          <ion-card-header>
              <div class="card-title">{{stockage.stockLieuStockage}}</div>
          </ion-card-header>
          <ion-card *ngFor="let cat of details"> 
            <div  ng-if="cat.stockage.stockLieuStockage == stockage.stockLieuStockage">
              <div class="card-subtitle">{{cat.qte_fut}}</div>
              <div class="card-subtitle">{{cat.categorie.catFut}}</div>
            </div>
          </ion-card>
          </ion-card>
    </ion-content>

